.remark-slide-container:first::after {
    content: url("figures/logo_ulg.png");
    width: 150px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: inline-block;
}

.ulg-logo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: inline-block;
}

.ulg-logo img {
    width: 150px;
}
